.footer-social-media img {
    height: 20px;
    width: 22px;
}

html, body {
    width: 100%;
    height: 100%;
}

.company-logo {
    height: 60px;
    width: 60px;
}

.hotel-img-500 {
    height: 500px;
    width: 500px;
}